<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row " >
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">Login Here !!</h1>
               <!-- {{loginData | json}}    pipeline oprator filtter -->
                <form (ngSubmit)="formSubmit()">
                     <!-- UserName field -->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        [(ngModel)]="loginData.username"
                        name="username"
                        required
                        matInput placeholder="Enter Here" >
                        <mat-hint>Valid user Name</mat-hint>
                      </mat-form-field>
                     <!-- Password field -->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input 
                        [(ngModel)]="loginData.password"
                        name="password"
                        required
                        type="password" matInput placeholder="Enter Here" >
                      </mat-form-field>
                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button type="reset" class="ml20"  mat-raised-button color="accent">Reset</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div> 
</div>